<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Conditions Générales de Vente</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
    <link href="/stylecontact.css" rel="stylesheet">
    </head>

<body>
	<header class="header">
		<div class="header_inner">
			<!--<a class="header_logo" href="/">
			logo
		</a>-->

			<nav class="header_nav">
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="./" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Accueil </span>
					</a>

				</li>
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/ajout-pizza" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Commander à emporter
						</span>
					</a>

				</li>

				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/liste" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Consulter le menu </span>
					</a>

				</li>
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/restaurant" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Restaurant </span>
					</a>

				</li>
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/contact" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Contact
						</span>
					</a>

				</li>
			</nav>
		</div>
	</header>
    <main>

        <h1>Conditions Générales de Vente de PIZZADORA</h1>

        <h2>1. Acceptation des conditions</h2>
        <p>
            En passant une commande auprès de [Nom de la Pizzeria], le client reconnaît avoir lu, compris et accepté sans réserve les présentes conditions générales de vente.
        </p>

        <h2>2. Commandes</h2>
        <p>
            2.1 Prise de commandes :Les commandes peuvent être passées en personne à notre établissement, par téléphone ou en ligne via notre site web.
        </p>
        <p>
            2.2 Modification ou annulation : Toute modification ou annulation de commande doit être effectuée dans les plus brefs délais et est soumise à l'approbation de [Nom de la Pizzeria].
        </p>

        <h2>3. Prix et paiement</h2>
        <p>
            3.1 Prix : Les prix des produits sont indiqués en euros et incluent la TVA applicable au moment de la commande.
        </p>
        <p>
            3.2 Modes de paiement : Les paiements peuvent être effectués en espèces, par carte de crédit ou tout autre moyen de paiement accepté par [Nom de la Pizzeria].
        </p>

        <h2>4. Livraison</h2>
        <p>
            4.1 Zone de livraison : La livraison est effectuée dans une zone définie par [Nom de la Pizzeria]. Des frais de livraison peuvent s'appliquer.
        </p>
        <p>
            4.2 Délais de livraison : Les délais de livraison sont donnés à titre indicatif et peuvent varier en fonction de la demande et des conditions météorologiques.
        </p>

        <h2>5. Qualité et satisfaction</h2>
        <p>
            5.1 Qualité des produits : [Nom de la Pizzeria] s'engage à fournir des produits de haute qualité et à respecter les normes sanitaires en vigueur.
        </p>
        <p>
            5.2 Réclamations : Toute réclamation concernant la qualité des produits doit être signalée dans les 24 heures suivant la réception de la commande.
        </p>

        <h2>6. Responsabilité</h2>
        <p>
            [Nom de la Pizzeria] décline toute responsabilité en cas de non-respect des consignes de conservation des produits après leur livraison.
        </p>

        <h2>7. Confidentialité</h2>
        <p>
            Les informations personnelles fournies par le client sont traitées conformément à notre politique de confidentialité disponible sur notre site web.
        </p>

        <h2>8. Modifications des conditions générales</h2>
        <p>
            PIZZADORA se réserve le droit de modifier les présentes conditions générales. Les clients seront informés de toute modification via notre site web.<br>
            En acceptant ces conditions générales, le client reconnaît avoir pris connaissance de l'ensemble des termes et conditions et les accepte pleinement.
        </p>
        <p>
           <br> Fait à QUIMPER, le 15/12/2023. <br> <br>       
            PIZZADORA
        </p>  

    </main>
</body>