<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Mentions Légales</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="/style.css" rel="stylesheet">
	<link href="/stylecontact.css" rel="stylesheet">
	<link href="/footerstyle.css" rel="stylesheet">
</head>

<body>
	<header class="header">
		<div class="header_inner">

			<div class="logo">

				<img alt="logo" src="/images/logo-orange2-removebg-preview.png" class=" logo-header" />

			</div>


			<nav class="header_nav">
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="./" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Accueil </span>
					</a>

				</li>
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/commande" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Commander à emporter
						</span>
					</a>

				</li>

				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/liste" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Consulter le menu </span>
					</a>

				</li>
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/restaurant" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Restaurant </span>
					</a>

				</li>
				<li class="menu_nav_item">
					<a class="menu_nav_link" href="/contact" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Contact
						</span>
					</a>

				</li>
			</nav>

			<div>
				<svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="var(--orange-custom)"
					class="bi bi-cart2 logo-custom" viewBox="0 0 16 16">
					<path
						d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
				</svg>
			</div>
		</div>
	</header>
	<main>
		<div class="main-content_title-wrapper">
			<div class="main-content_title">
				<h1>Mentions Légales</h1>
			</div>
		</div>
		<h2>1. Informations légales</h2>
		<p>
			Raison sociale : PIZZADORA INC. <br>
			Statut juridique : SARL<br>
			Numéro SIRET : 552 178 639 00132<br>
			Siège social : 2 rue George Perros 29000 QUIMPER<br>
			Téléphone : 06.12.12.12.12<br>
			E-mail : pizzadora@gmail.com<br>
			Directeur de la publication : Isadora VIEYTES<br>
		</p>

		<h2>2. Hébergement du site web</h2>
		<p>
			Le site web de PIZZADORA est hébergé par localhost.<br>
			Adresse de l'hébergeur : 8080.
		</p>

		<h2>3. Propriété intellectuelle</h2>
		<p>
			Le contenu du site web de PIZZADORA (textes, images, logos, etc.) est la propriété exclusive de PIZZADORA et
			est protégé par les lois sur la propriété intellectuelle.<br>
			Toute reproduction ou utilisation non autorisée du contenu du site est strictement interdite et peut donner
			lieu à des poursuites judiciaires.
		</p>

		<h2>4. Données personnelles</h2>
		<p>
			PIZZADORA s'engage à protéger la vie privée de ses clients. Les données personnelles collectées via le site
			web sont traitées conformément à notre politique de confidentialité disponible sur notre site. <br>
			Conformément à la loi "Informatique et Libertés" du 6 janvier 1978 et au Règlement Général sur la Protection
			des Données (RGPD), vous disposez d'un droit d'accès, de rectification, et de suppression des données vous
			concernant.
		</p>

		<h2>5. Liens hypertextes</h2>
		<p>
			Le site web de PIZZADORA peut contenir des liens hypertextes vers d'autres sites. PIZZADORA n'est pas
			responsable du contenu de ces sites tiers.
		</p>

		<h2>6. Responsabilité</h2>
		<p>
			PIZZADORA décline toute responsabilité quant à l'utilisation du site web et des informations qui y sont
			contenues. Les informations fournies sur le site sont données à titre indicatif.
		</p>

		<h2>7. Cookies</h2>
		<p>
			Le site web de PIZZADORA peut utiliser des cookies pour améliorer l'expérience de l'utilisateur. En
			utilisant notre site, vous consentez à l'utilisation de cookies conformément à notre politique en matière de
			cookies disponible sur notre site.
		</p>

		<h2>8. Contact</h2>
		<p>
			Pour toute question ou réclamation, vous pouvez nous contacter à l'adresse suivante : 2 rue George Perros ou
			par e-mail à pizzadora@gmail.com.
		</p>

		<h2>9. Droit applicable et juridiction compétente</h2>
		<p>
			Les présentes mentions légales sont soumises au droit français. Tout litige relatif à l'interprétation ou à
			l'exécution des présentes sera de la compétence exclusive des tribunaux français.
		</p>
		<p>
			<br> Fait à QUIMPER, le 15/12/2023. <br> <br>
			PIZZADORA
		</p>

	</main>
	<footer class="footer">
		<div class="footer_inner">
			<nav class="footer_nav">

				<li class="footer_nav_item">
					<a href="/conditions" data-nav-item="" data-mega-menu="4">
						<span class="footer_nav_title"> Conditions Générales de Vente </span>
					</a>
				</li>

				<li class="footer_nav_item">
					<a href="/mentions" data-nav-item="" data-mega-menu="4">
						<span class="footer_nav_title"> Mentions Légales </span>
					</a>
				</li>

			</nav>
		</div>
	</footer>
</body>