<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Commander à emporter</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="/style.css" rel="stylesheet">
	<link href="/footerstyle.css" rel="stylesheet">
</head>

<body>

	<header class="header">
		<div class="header_inner">

			<div class="logo">

				<img alt="logo" src="/images/logo-orange2-removebg-preview.png" class=" logo-header" />

			</div>


			<nav class="header_nav">
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="./" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Accueil </span>
					</a>

				</li>
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/commande" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Commander à emporter
						</span>
					</a>

				</li>

				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/liste" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Consulter le menu </span>
					</a>

				</li>
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/restaurant" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Restaurant </span>
					</a>

				</li>
				<li class="menu_nav_item">
					<a class="menu_nav_link" href="/contact" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Contact
						</span>
					</a>

				</li>
			</nav>

			<div>
				<svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="var(--orange-custom)"
					class="bi bi-cart2 logo-custom" viewBox="0 0 16 16">
					<path
						d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
				</svg>
			</div>
		</div>
	</header>

	<main>
		<div class="main-content_title-wrapper">
			<div class="main-content_title">
				<h1>Passer commande</h1>
			</div>
		</div>
		<div class="contenu">

			<div id="products_container">

				<div th:each="pizza : ${listePizzas}" class="pizza">


					<div class="photo-apetissante">

						<img alt="html image example" th:src="${pizza.imageLink}" height:"fit-content" />

					</div>

					<div class="informations-pizza">
						<h2 th:text="${pizza.name}"></h2>
						<div>
							<span style="text-decoration: underline;">Ingrédients :</span>
							<span th:text="${pizza.base.wording}"></span><span>, </span>
							<span th:each="cheese : ${pizza.listCheese}">
								<span th:text="${cheese.wording}"></span><span>, </span>
							</span>
							<span th:each="ingredient : ${pizza.listIngredient}">
								<span th:text="${ingredient.wording}"></span><span>, </span>
							</span>
						</div>
						<div>
							<span style="text-decoration: underline;">Prix :</span>
							<span th:text="${pizza.price}" /><span> €</span>
						</div>

						<!--<div class="number-control">
							<div class="number-left"></div>
							<input type="number" name="number" class="number-quantity" value="0">
							<div class="number-right"></div>
						</div>-->
						<form th:action="@{/commande}" method="POST" class="input-group">
							<input type="hidden" th:value="${pizza.id}" th:name="pizzaId">
							<input type="button" value="-" class="button-minus border icon-shape icon-sm mx-1 "
								data-field="quantity">
							<input type="number" step="1" max="10" value="1" th:name="quantity"
								class="quantity-field border-0 text-center w-25">
							<input type="button" value="+" class="button-plus border icon-shape icon-sm "
								data-field="quantity">
							<button type="submit">Ajouter</button>
						</form>
					</div>

				</div>

			</div>
			<div class="bucket">
				<h4>Récapitulatif</h4>
				<form th:action="@{/panier}" method="POST">

					<ul>
						<li th:each="pizza : ${cart.listPizza}">
							Pizza : <span th:text="${pizza.name}"></span>
							<br> Prix : <span th:text="${pizza.price}"></span>
						</li>
					</ul>

					<span th:if="${cart.listPizza.size!=0}">Vous avez commandé</span> <span
						th:text="${cart.listPizza.size}"></span> pizzas
					<br>
					<span>Prix Total <span th:text="${totalCart}"></span> €</span>
					<br>
					<div class="center mt-2" style="text-align: center;">
						<button type="submit">Acceder au panier</button>
					</div>
				</form>
			</div>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>
		<script>
			function incrementValue(e) {
				e.preventDefault();
				var fieldName = $(e.target).data('field');
				var parent = $(e.target).closest('div');
				var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

				if (!isNaN(currentVal)) {
					parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
				} else {
					parent.find('input[name=' + fieldName + ']').val(0);
				}
			}

			function decrementValue(e) {
				e.preventDefault();
				var fieldName = $(e.target).data('field');
				var parent = $(e.target).closest('div');
				var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

				if (!isNaN(currentVal) && currentVal > 0) {
					parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
				} else {
					parent.find('input[name=' + fieldName + ']').val(0);
				}
			}

			$('.input-group').on('click', '.button-plus', function (e) {
				console.log("increase")
				incrementValue(e);
			});

			$('.input-group').on('click', '.button-minus', function (e) {
				console.log("decrease")
				decrementValue(e);
			});
		</script>
	</main>
	<footer class="footer">
		<div class="footer_inner">
			<nav class="footer_nav">

				<li class="footer_nav_item">
					<a href="/conditions" data-nav-item="" data-mega-menu="4">
						<span class="footer_nav_title"> Conditions Générales de Vente </span>
					</a>
				</li>

				<li class="footer_nav_item">
					<a href="/mentions" data-nav-item="" data-mega-menu="4">
						<span class="footer_nav_title"> Mentions Légales </span>
					</a>
				</li>

			</nav>
		</div>
	</footer>
</body>

</html>