<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Commander à emporter</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link href="/style.css" rel="stylesheet">
</head>

<body>

	<header class="header">
		<div class="header_inner">
			<!--<a class="header_logo" href="/">
logo
</a>-->
			<nav class="header_nav">
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="./" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Accueil </span>
					</a>

				</li>
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/ajout-pizza" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Commander à emporter
						</span>
					</a>

				</li>

				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/liste" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Consulter le menu </span>
					</a>

				</li>
				<li class="menu_nav_item">

					<a class="menu_nav_link" href="/restaurant" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Restaurant </span>
					</a>

				</li>
				<li class="menu_nav_item">
					<a class="menu_nav_link" href="/contact" data-nav-item="" data-mega-menu="4">
						<span class="menu_nav_title">
							Contact
						</span>
					</a>

				</li>
			</nav>
		</div>
	</header>

	<main>
		<h1>Pizza à gogo, yapuka commander!!</h1>

		<div class="contenu">
			
			<div id="products_container">

				<div th:each="pizza : ${listePizzas}" class="pizza">


					<div class="photo-apetissante">

						<img alt="html image example" th:src="${pizza.imageLink}" height:"fit-content" />

					</div>

					<div class="informations-pizza">
						<h2 th:text="${pizza.name}"></h2>
						<div>
							<span style="text-decoration: underline;">Ingrédients :</span>
							<span th:text="${pizza.base.wording}"></span><span>, </span>
							<span th:each="cheese : ${pizza.listCheese}">
								<span th:text="${cheese.wording}"></span><span>, </span>
							</span>
							<span th:each="ingredient : ${pizza.listIngredient}">
								<span th:text="${ingredient.wording}"></span><span>, </span>
							</span>
						</div>
						<div>
							<span style="text-decoration: underline;">Prix :</span>
							<span th:text="${pizza.price}" /><span> €</span>
						</div>

						<!--<div class="number-control">
							<div class="number-left"></div>
							<input type="number" name="number" class="number-quantity" value="0">
							<div class="number-right"></div>
						</div>-->
						<form th:action="@{/commande}" method="POST" class="input-group">
							<input type="hidden" th:value="${pizza.id}" th:name="pizzaId" >
							<input type="button" value="-" class="button-minus border icon-shape icon-sm mx-1 " data-field="quantity">
			        		<input type="number" step="1" max="10" value="1" th:name="quantity" class="quantity-field border-0 text-center w-25">
			        		<input type="button" value="+" class="button-plus border icon-shape icon-sm " data-field="quantity">
			        		<button type="submit">Ajouter</button>
						</form>
					</div>

				</div>

			</div>
			<div class="bucket">
			<h4>Récapitulatif</h4>
				<div th:each="pizza : ${cart.listPizza}">
					Pizza : <span th:text="${pizza.name}"></span>
					<br>Prix : <span th:text="${pizza.price}"></span>
				</div>
				<br>
				<span th:if="${cart.listPizza.size!=0}" >Vous avez commandé</span> <span th:text="${cart.listPizza.size}"></span> pizzas
			<br>
			<span>Prix Total <span th:text="${totalCart}"></span> €</span>
			<br>
			<button>DO SOMETHING</button>
			</div>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>
			<script>
				function incrementValue(e) {
        e.preventDefault();
        var fieldName = $(e.target).data('field');
        var parent = $(e.target).closest('div');
        var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

        if (!isNaN(currentVal)) {
            parent.find('input[name=' + fieldName + ']').val(currentVal + 1);
        } else {
            parent.find('input[name=' + fieldName + ']').val(0);
        }
    }

    function decrementValue(e) {
        e.preventDefault();
        var fieldName = $(e.target).data('field');
        var parent = $(e.target).closest('div');
        var currentVal = parseInt(parent.find('input[name=' + fieldName + ']').val(), 10);

        if (!isNaN(currentVal) && currentVal > 0) {
            parent.find('input[name=' + fieldName + ']').val(currentVal - 1);
        } else {
            parent.find('input[name=' + fieldName + ']').val(0);
        }
    }

    $('.input-group').on('click', '.button-plus', function(e) {
		console.log("increase")
        incrementValue(e);
    });

    $('.input-group').on('click', '.button-minus', function(e) {
        console.log("decrease")
        decrementValue(e);
    });
			</script>
</body>

</html>